* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
   
  }
  
  .calculator {
    background-color: rgba(222, 216, 135, 0.486);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-shadow: 0 0 50px #077b32;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .inputs input {
    width: 40%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  #operator {
    width: 10%;
    text-align: center;
    font-size: 18px;
  }
  
  .operators {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .operators label {
    width: 45%;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .result {
    text-align: center;
    margin-top: 20px;
  }
  
  #output {
    font-size: 24px;
    font-weight: bold;
  }
  